{%- comment -%}
  Updated: 2023-07-10 18:21:54 +0000
  This file is system-generated and should not be modified
  We reserve the right to overwrite it at any moment to add improvements or new features so that customizations you made might be lost
{%- endcomment -%}
{%- assign zp_shop_dir_name = shop.permanent_domain | sha1 -%}
<link rel="stylesheet" href="{{ "https://cdn16.zipify.com/" | append: "" | append: zp_shop_dir_name | append: "/gb/fca8a42824d0b26ad7a61e0a54cf439a.css" }}">
<!--ZP_SEPARATOR-->
<section class="js-cluster-wrapper zpa-plain-text-002-v1-dynamic zpa-plain-text-002 zpa-block-valign--top zpa-block-stacking--ltr zpa-is-new-structure zp ba-13706928" data-id="13706928" id="13706928"> <div class="js-cluster zp cac-13706928"> <div class="flex-row center-xs" data-dynamic-row> <div class="zpa-flex--column xs-12" data-dynamic-column> <div class="zpa-word-wrap disable-internal-link zp ea-5703887"> <p class="zp ts-regular-1 tsl-2">By <a href="https://hollywoodhairbar.com/pages/about" target="_self" class="zp tsl-3 zp ts-link">Tiffany Rose</a></p><p class="zp ts-regular-3 tsl-5"><a href="https://hollywoodhairbar.com/pages/about" target="_self" class="zp tsl-6 zp ts-link">View Author Bio</a></p> </div> </div> </div> </div> </section>