{%- comment -%}
  Updated: 2025-06-03 04:14:43 +0000
  This file is system-generated and should not be modified. We reserve the right to overwrite it at any moment to add improvements or new features so that customizations you made might be lost
{%- endcomment -%}<link rel="stylesheet" type="text/css" href="https://cdn03.zipify.com/css/zipifypages.css"><script>window.ZipifyPages??={},window.ZipifyPages.isGlobalSectionScriptsLoaded=!0;</script>{% assign zp_shop_dir_name = shop.permanent_domain | sha1 %}{% assign zp_shop_metafields = shop.metafields['zipifypages'] %}{% assign zp_global_styles_data = zp_shop_metafields['globalstyles'] %}{% assign zp_global_style_name = zp_global_styles_data.value['styles_version'] %}<link rel="stylesheet" type="text/css" href="{{ 'https://cdn16.zipify.com' | append: '/' | append: zp_shop_dir_name | append: '/gs/' | append: zp_global_style_name | append: '.css' }}"><link rel="stylesheet" href="{{ "https://cdn16.zipify.com/" | append: "" | append: zp_shop_dir_name | append: "/gb/fca8a42824d0b26ad7a61e0a54cf439a.css" }}">{% assign zp_add_blocks_config = nil %}{% capture zp_product_page_entity_content %}<section class="js-cluster-wrapper zpa-plain-text-002-v1-dynamic zpa-plain-text-002 zpa-block-valign--top zpa-block-stacking--ltr zpa-is-new-structure zp ba-13706928" data-id="13706928" id="13706928"> <div class="js-cluster zp cac-13706928"> <div class="flex-row center-xs" data-dynamic-row> <div class="zpa-flex--column xs-12" data-dynamic-column> <div class="zpa-word-wrap disable-internal-link zp ea-5703887"> <p class="zp ts-regular-1 tsl-2">By <a href="https://hollywoodhairbar.com/pages/about" target="_self" class="zp tsl-3 zp ts-link">Tiffany Rose</a></p><p class="zp ts-regular-3 tsl-5"><a href="https://hollywoodhairbar.com/pages/about" target="_self" class="zp tsl-6 zp ts-link">View Author Bio</a></p> </div> </div> </div> </div> </section>{% endcapture %}{% include 'product-content.zipifypages', contentprt: 'full', renderctx: 'tpl', zp_override_template_name: 'global_section', zp_override_template_suffix: 'zipifypagesgbe7f20b2db48f502736d43b91c98a210d', zp_add_blocks_config: zp_add_blocks_config, zp_shop_metafields: zp_shop_metafields %}{%- assign zp_product_page_entity_content = nil -%}
{% schema %}
{
  "name": "[ZP] Author top",
  "tag": "div",
  "class": "zpa-published-page-holder",
  "presets": [
    {
      "name": "[ZP] Author top"
    }
  ]
}
{% endschema %}
